.main {
    margin: 10px;
    width: 185px;
    height: 250px;
}

div {
    margin: 4px;
}

#screen {
    text-align: right;
    margin: 15px;
}
input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

#zeroBtn {
    width: 85px;
    border-radius: 20px;
}

.grayBtn {
    background-color: gray;
    color: black;
}

.orangeBtn {
    background-color: orange;
    color: white;
}

.blackBtn {
    background-color: black;
    color: white;
}