body {
    font-weight: 600;
}


.header{
    padding:  100px;
    grid-area: header;
    border: 2px solid red;
    text-align: center;
}

.nav {
    grid-area: nav;
    padding-top: 200px;
    margin: 0;
    border: 2px solid orange;
    border-bottom: none;
    text-align: center;
}

.section {
    grid-area: section;
    padding-top: 200px;
    margin: 0;
    border: 2px solid orange;
    border-bottom: none;
    text-align: center;
}

.footer {
    grid-area: footer;
    padding-top: 100px;
    border: 2px solid gray;
    text-align: center;
}

.user-name
.user-surname
.user-age
.average {
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-rows: 200px 400px 200px;
    grid-template-columns: 100px 700px;
    grid-template-areas: 
    'header header'
    'nav section'
    'footer footer';
}